@tailwind base;
@tailwind components;
@tailwind utilities;

 /* npx next dev -H 192.168.0.2 -p 3000 */

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
